<div class="jumbotron">
    <h1>HUB Sensor Platform</h1>
    <p class="lead">HUB is a digital platform that makes the Internet of Things easy!</p>
    <p><a href="http://google.ca" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">


</div>
